html {
    background-image: url("./resources/ship.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px #000000;
    user-select: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#searchResults, #time {
    display: none;
}

.animate {
    animation: bounce 1s ease infinite .5s;
    animation-iteration-count: 1;
}

@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-55px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}