<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b437ad2a-b67a-4b61-8736-278b1e9b89c4/resourceGroups/Assignment2_scelkins/providers/Microsoft.Web/sites/mis-421-assignment-2-jquery-and-ajax-scelkins</ResourceId>
    <ResourceGroup>Assignment2_scelkins</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mis-421-assignment-2-jquery-and-ajax-scelkins.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>177cb263-0dc9-4063-a52c-23f8a3d22aff</ProjectGuid>
    <MSDeployServiceURL>mis-421-assignment-2-jquery-and-ajax-scelkins.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mis-421-assignment-2-jquery-and-ajax-scelkins</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$mis-421-assignment-2-jquery-and-ajax-scelkins</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>